body {
  background: #496D8A;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  transition: all 2s;
  z-index: 5;
}

#helpLink {
  opacity: 1;
  z-index: 5;
  height: 100%;
  transition: all 1s;
}

#helpLink:hover {
  opacity: 0.5;
}

#footerDesc {
  font-weight: normal;
  padding-left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

#early {
  /* background: #000; */
  transition: all 2s;
  opacity: 1;
}
