body {
  background: url("../assets/backgrounds/sunset.jpg");
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  transition: all 2s;
  z-index: 5;
}

#helpLink {
  opacity: 1;
  z-index: 5;
  height: 100%;
  transition: all 1s;
}

#helpLink:hover {
  opacity: 0.5;
}

#footerDesc {
  font-weight: normal;
  padding-left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

#birdButtonStyle {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 5;
}

#birdButton {
    width: 100px;
    height: 30px;
    background: rgba(0,0,0,0.3);
    border: none;
    color: white;
}

#early {
  transition: all 2s;
  opacity: 1;
}
