* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #000; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0e0c0b 0%, #1b0028 99%);
  background: -webkit-linear-gradient(-45deg, #0e0c0b 0%,#1b0028 99%);
  background: linear-gradient(135deg, #0e0c0b 0%,#1b0028 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0c0b', endColorstr='#1b0028',GradientType=1 );
  font-family: Helvetica, sans-serif;
  color: white;
}

canvas {
  margin: 0;
  position: absolute;
  padding: 0;
  height: 10px;
  z-index: 1;
}

#loadCover {
  opacity: 1;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  transition: all 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 30px;
}

#rightStyle {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 2;
}

#rightButton {
  height: 50px;
  width: 100%;
  background: url("../assets/icons/rightArrow.png");
  background-size: cover;
  transition: all 0.5s;
  border: none;
  z-index: 2;
}

#rightButton:hover {
background: url("../assets/icons/rightArrow2.png");
background-size: cover;

}

#leftStyle {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 2;
}

#leftButton {
  height: 50px;
  width: 100%;
  background: url("../assets/icons/leftArrow.png");
  background-size: cover;
  transition: all 0.5s;
  border: none;
  z-index: 2;
  display: none;
}

#leftButton:hover {
background: url("../assets/icons/leftArrow2.png");
background-size: cover;
}

#planetTitleStyle {
  position: fixed;
  bottom: 100px;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#planetTitleButton {
  height: 50px;
  width: 200px;
  background: none;
  transition: all 0.5s;
  border: none;
}

#planetTitleButton:hover {
  border-bottom: white solid 2px;
  padding-bottom: 10px;
  transition: all 0.5s;
}

#planetTitle {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#planetDesc{
  color: grey;
  font-size: 12px;
  font-weight: normal;
}

header {
  position: fixed;
  z-index: 2;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  transition: all 2s;
  z-index: 5;
}

#helpLink {
  opacity: 1;
  z-index: 5;
  height: 100%;
  transition: all 1s;
}

#helpLink:hover {
  opacity: 0.5;
}

#footerDesc {
  font-weight: normal;
  padding-left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
